/* ===== Fonts ===== */

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/montserrat/montserrat-light.woff2") format("woff2"),
    url("../fonts/montserrat/montserrat-light.woff") format("woff"),
    url("../fonts/montserrat/montserrat-light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/montserrat/montserrat-regular.woff2") format("woff2"),
    url("../fonts/montserrat/montserrat-regular.woff") format("woff"),
    url("../fonts/montserrat/montserrat-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue LT Pro";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/helvetica-neue-lt-pro/helvetica-neue-lt-pro-lt.woff2") format("woff2"),
    url("../fonts/helvetica-neue-lt-pro/helvetica-neue-lt-pro-lt.woff") format("woff"),
    url("../fonts/helvetica-neue-lt-pro/helvetica-neue-lt-pro-lt.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica Neue LT Pro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/helvetica-neue-lt-pro/helvetica-neue-lt-pro-roman.woff2") format("woff2"),
    url("../fonts/helvetica-neue-lt-pro/helvetica-neue-lt-pro-roman.woff") format("woff"),
    url("../fonts/helvetica-neue-lt-pro/helvetica-neue-lt-pro-roman.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica Neue LT Pro";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/helvetica-neue-lt-pro/helvetica-neue-lt-pro-md.woff2") format("woff2"),
    url("../fonts/helvetica-neue-lt-pro/helvetica-neue-lt-pro-md.woff") format("woff"),
    url("../fonts/helvetica-neue-lt-pro/helvetica-neue-lt-pro-md.otf") format("opentype");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src:
    url("../fonts/merriweather/merriweather-light-italic.woff2") format("woff2"),
    url("../fonts/merriweather/merriweather-light-italic.woff") format("woff"),
    url("../fonts/merriweather/merriweather-light-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/roboto/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto/roboto-regular.woff") format("woff"),
    url("../fonts/roboto/roboto-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fontello";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/fontello/fontello.woff2") format("woff2"),
    url("../fonts/fontello/fontello.woff") format("woff"),
    url("../fonts/fontello/fontello.ttf") format("truetype");
}

/* ===== Global ===== */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* ===== Header ===== */

.header__wrapper {
  position: relative;
  display: grid;
  padding-top: 14px;
  padding-bottom: 13px;
}

.header__logo {
  position: absolute;
  top: 0;
  justify-self: center;
}

.logo {
  display: flex;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.7;
}

.main-menu {
  display: grid;
  gap: 162px;
  grid-template-columns: repeat(2, 1fr);
}

.main-menu__list {
  display: flex;
  gap: 33px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 17px;
  font-family: "Roboto", sans-serif;
  color: #989696;
  text-transform: capitalize;
  letter-spacing: 0.04em;
}

.main-menu__list--before-logo {
  justify-self: end;
}

.main-menu__list--after-logo {
  justify-self: start;
}

.main-menu__link {
  display: block;
  padding: 5px;
}

.main-menu__link--active {
  color: #010101;
}

.main-menu__link:hover,
.main-menu__link:focus {
  color: #010101;
}

.main-menu__link:active {
  opacity: 0.8;
}

/* ===== Content ===== */

/* === Common === */

.title {
  font-weight: 300;
  font-size: 44px;
  line-height: 26px;
  font-family: "Helvetica Neue LT Pro", sans-serif;
  color: #1d1e1f;
  letter-spacing: 0.02em;
}

.title--size-smaller {
  font-size: 34px;
}

.subtitle {
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  font-family: "Merriweather", serif;
  color: #898888;
  letter-spacing: 0.03em;
}

.subtitle--spacing-smaller {
  letter-spacing: 0.02em;
}

.button {
  padding: 20px 20px 18px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  border: 1px solid #000000;
}

.button:hover,
.button:focus {
  color: #fefefe;
  background-color: #161616;
  border-color: #161616;
}

.button:active {
  opacity: 0.8;
}

/* === Intro === */

.intro__wrapper {
  display: grid;
  justify-items: center;
  padding-top: 209px;
  padding-bottom: 206px;
  text-align: center;
}

.intro__title {
  margin: 0 0 11px;
}

.intro__subtitle {
  margin: 0 0 40px;
}

.intro__button {
  min-width: 188px;
}

/* === About === */

.about {
  position: relative;
  background-color: #1d1d1d;
}

.about::before,
.about::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 137px;
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: contain;
}

.about::before {
  bottom: 16px;
  background-image: url("../img/buildings-black.png");
}

.about::after {
  bottom: -1px;
  background-image: url("../img/buildings-white.png");
}

.about__wrapper {
  padding: 128px 94px 270px;
}

.about__list {
  display: grid;
  gap: 178px;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 417px;
  min-height: 276px;
  padding: 38px 11px 40px 13px;
  background-color: #181818;
}

.about__item--wide {
  padding-right: 9px;
  padding-left: 11px;
}

.about__title {
  margin: 0 0 28px;
  font-weight: 400;
  font-size: 48px;
  line-height: 28px;
  font-family: "Helvetica Neue LT Pro", sans-serif;
  text-align: center;
  color: #fefefe;
  letter-spacing: 0.02em;
}

.about__text {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
  color: #b7b7b7;
  letter-spacing: 0.02em;
}

/* === Team === */

.team__wrapper {
  padding-top: 138px;
  padding-bottom: 126px;
}

.team__header {
  margin: 0 100px 106px;
  text-align: center;
}

.team__title {
  margin: 0 0 8px;
}

.team__subtitle {
  margin: 0 0 0 8px;
}

.team__list {
  display: grid;
  justify-content: center;
  gap: 35px 66px;
  grid-template-columns: repeat(auto-fit, 335px);
  margin: 0 17px 0 16px;
  padding: 0;
  list-style: none;
}

.person-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Helvetica Neue LT Pro", sans-serif;
  text-align: center;
}

.person-card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  margin-bottom: 22px;
}

.person-card__content {
  margin-bottom: 21px;
}

.person-card__name {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #464646;
  letter-spacing: 0.02em;
}

.person-card__text {
  margin: 4px 0 0;
  font-size: 13px;
  line-height: 1;
  color: #b3b3b3;
  letter-spacing: 0.02em;
}

.person-card__socials {
  display: flex;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.person-card__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 22px;
}

.person-card__socials-link:hover,
.person-card__socials-link:focus {
  filter: brightness(0.5);
}

.person-card__socials-link:active {
  filter: brightness(0.7);
}


.test {
  height: 100px;
  background-color: #181818;
}
